*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
/* header styling */
header{
    width: 60%;
    height: 100px;
    margin: 0 auto 20px;
}
.logo{
    height: 50px;
    border-right: 1px solid rgb(229, 229, 229);
    padding-right: 15px;
}
ul{
    margin-top: 30px;
    font-size: 11px;
}
li{
    padding-right: 4px;
    display: inline;
    color: rgb(138, 138, 138);
}
/* first section */
section{
    width: 60%;
    margin: 0 auto 20px;
    background-image: url("../img/banner.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    border-radius: 10px;
}
.container{
    width: 400px;
    padding-top: 220px;
    padding-left: 30px;
}
h3{
    color: white;
}
h6{
    color: white;
}
/* second section */
.clearfix{
    width: 60%;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.bar{
    width: 100%;
    height: 60px;
}
h2{
    padding-top: 10px;
    font-weight: bold;
}
.leadership-secondtitle{
    color: rgb(138, 138, 138);
}
/* blocks styling */
.block{
    width: 20%;
    float: left;
    height: 360px;
    margin: 15px 0;  
}
.left-image{
    width: 100%;
    height: 140px;
    background-image: url("../img/img-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}
.title{
    margin-top: 10px;
}
.text{
    margin-top: 5px;
    font-size: 10px;
}
.mainblock{
    width:58%;
    margin: 15px 1%;
    float: left;
}
.main-image{
    width: 100%;
    height: 140px;
    background-image: url("../img/banner-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}
.right-image{
    width: 100%;
    height: 140px;
    background-image: url("../img/img-3.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}
/* footer */
footer{
    width: 60%;
    height: 40px;
    margin: 3.5px auto 20px;
    text-align: center;
}
.heart{
    color: red;
}
